/* ===== VARIABLES GLOBALES ===== */
:root {
    --verde: #1f5c3a;
    --verde-oscuro: #16462c;
    --verde-claro: #2a7a4b;
    --gris-fondo: #ececec;
    --texto: #222;
}

/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BASE ===== */
body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gris-fondo);
    color: var(--texto);
}

/* ===== NAV ===== */
nav {
    background: var(--verde);
    color: #fff;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.logo {
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-outline {
    border: 1px solid #fff;
    padding: 6px 14px;
    border-radius: 20px;
}

/* ===== BOTONES ===== */
.btn-primary {
    background: var(--verde);
    color: #fff;
    border: none;
    padding: 15px 28px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-primary :hover {
    background: var(--verde-oscuro);
}


/* ===== FOOTER ===== */
footer {
    background: var(--verde);
    color: #fff;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.socials {
    display: flex;
    gap: 15px;
    font-size: 16px;
}

/* ===== RESPONSIVE BASE ===== */
@media (max-width: 768px) {
    nav ul {
        gap: 15px;
    }
}
